services:
  backend:
    build:
      context: ./backend
    container_name: agentflow-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
      - db

  frontend:
    build:
      context: ./frontend
    container_name: agentflow-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules # Protege o node_modules interno do container
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend

  redis:
    image: redis:7-alpine
    container_name: agentflow-redis
    ports:
      - "6379:6379"
  
  worker:
    build: ./backend
    container_name: agentflow-worker
    command: celery -A worker.celery_app worker --loglevel=info
    volumes:
      - ./backend:/app
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
      - backend
  
  db:
    image: postgres:16-alpine
    container_name: agentflow-db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=agentflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: